.Layout-Content_centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.Layout-Content_centered:before {
    content: "";
    position: relative;
    flex-grow: 0.94;
}
.Layout-Content_centered:after {
    content: "";
    position: relative;
    flex-grow: 1.06;
}