.Commit-DateTime {
    margin-bottom: var(--commit_date-row-space-bottom);
    color: var(--commit_info-color);
}

.Commit-DateTime:last-child {
    margin-bottom: 0;
}

.Commit_detail .Commit-DateTime:not(:first-child) {
    margin-left: var(--commit_detail_datetime-horizontal-space);
}

@media (max-width: 575.98px) {
    .Commit-DateTime:not(:first-child) {
        margin-left: var(--commit_datetime-horizontal-space);
    }
}
