.Commit-Content {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 120px);
}

@media (max-width: 575.98px) {
    .Commit-Content {
        max-width: 100%;
        border-bottom: 1px solid var(--commit_content-border-bottom);
    }
}