.Header-Title {
    font-family: var(--font-family_main);
    letter-spacing: var(--logo_letter-spacing);
    color: var(--title_color);
    font-size: var(--logo-text-size);
    line-height: var(--logo-height_common);
    font-weight: 500;
    text-decoration: none;
}