.InputField-ClearIcon {
    display: none;
    content: "";
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--input_clear-icon-size);
    height: var(--input_clear-icon-size);
    background: var(--icon-clear) no-repeat center;
}

.InputField-InputBox_clearIcon .InputField-ClearIcon {
    display: block;
}