.Button-Text {
    padding: 0 var(--button-space);
}

.Button-Icon + .Button-Text {
    padding-left: var(--button-space-icon);
    display: var(--button-text_display);
}

.Button_large > .Button-Text {
    padding: 0 var(--button-space_large);
}